doctype html
html(lang=lang_code)
    head
        block head
            //- meta
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="/asset/image/logo_blue_favicon.png" type="image/x-icon">

            //- Fonts
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap">

            //- Flag icons https://github.com/lipis/flag-icons
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

            //- assets
            <link rel="stylesheet" href="/asset/style/style.css">

            //- Scripts
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v19.0" nonce="4bmcZPt8"></script>

    body
        nav
            #nav-logo
                a(href="/trang-chu/")
                    img(src="/asset/image/logo_blue_cut.png", loading="eager", alt="Logo")
            #nav-center
                // Footer copy its list from here (based on id)
                a(href="/ve-chung-toi/") Về chúng tôi
                //- a Giải pháp
                a(href="/tin-tuc/") Tin tức
                a ecosBDG
                a(href="/du-an/") Dự án
                //- a Sự nghiệp
                //- a Đào tạo
                a(href="/lien-he/") Liên hệ
            #nav-lang
                -
                    const langToFlag = {
                        // list of flag representing each language
                        vi: 'vn',
                        en: 'gb',
                        fr: 'fr'
                    };
                    //- For some reason insert lang_code here result in errors
                    const languageNames = new Intl.DisplayNames(['en'], {
                        type: 'language'
                    });
                span: span.fi(class= 'fi-' + langToFlag[lang_code])
                ul(style="display: none;")
                    //
                        Language menu will be composed page-by-page by dev/build.js
                        Leave one tag here as an example, but if you want to edit
                        please edit it in the build script dev/build.js:onTranslationBuild()
                    for lang in config.languages
                        li(lang= lang): a=languageNames.of(lang)

                    // <li><a href="#" onclick="langList.display = "none";"></a></li>
            script(src="/asset/script/nav.js" async)

        main
            //- p #{pageURL}
            //- p #{lang_code}
            block content
                include banner-header.html

        footer
            div
                .info
                    h2 Công ty Cổ phần Bác sĩ Thương hiệu
                    div
                        img(src="/asset/icon/footer add icon.png")
                        p Địa chỉ: 87 Đường 14, Phường Linh Chiểu, TP. Thủ Đức, TP. Hồ Chí Minh
                    div
                        img(src="/asset/icon/footer email icon.png")
                        p Email: branddoctor.info@gmail.com
                    div
                        img(src="/asset/icon/footer phone icon.png")
                        p Điện thoại: (028) 398 404 12
                    div(style="flex-grow: 10")
                        //- Placeholder to create space
                    .social
                        a(href="https://www.facebook.com/BrandDoctorGroup")
                            img(src="/asset/icon/footer facebook icon.png")
                        a(href="https://www.youtube.com/@branddoctorgroup")
                            img(src="/asset/icon/footer youtube icon.png")
                ul#quick-links
                    li
                        a(href="/trang-chu/") Trang chủ
                form
                    <div class="fb-page" data-href="https://www.facebook.com/BrandDoctorGroup" data-tabs="posts" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BrandDoctorGroup" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BrandDoctorGroup">Brand Doctor Group</a></blockquote></div>
                    p Bắt đầu đồng hành cùng Brand Doctor
                    input(type="text" placeholder="Họ & Tên")
                    input(type="email" placeholder="Email")
                    textarea(placeholder="Nội dung")
                    button GỬI
            p ©2024 All Rights Reserved. Brand Doctor Group

            script.
                // copy from nav bar to footer quick links
                let quickLinks = document.getElementById('quick-links');
                [...document.getElementById('nav-center').children].forEach(elm => {
                    quickLinks.innerHTML += `<li>
                        <a href="${elm.getAttribute('href')}">${elm.innerHTML}</a>
                    </li>`
                })

        block floatContact
            //- If you want to remove this, simply replace with an empty block
            include float-contact.html

    block scripts
        script(src="/asset/script/script.js")